<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649877426567-coon6e32aqd29rof33lhu507bmmlqa7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649877426567-coon6e32aqd29rof33lhu507bmmlqa7p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>649877426567-cibs7j6ld67j450b4gjph6cr9mt69l11.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGfCdlECMe1dWBMpjuaN-BRJSDzxtyDOE</string>
	<key>GCM_SENDER_ID</key>
	<string>649877426567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tvs.NeoFitnes</string>
	<key>PROJECT_ID</key>
	<string>neofitnes-vbage</string>
	<key>STORAGE_BUCKET</key>
	<string>neofitnes-vbage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:649877426567:ios:7e1d89e3985f592ed7c322</string>
	<key>DATABASE_URL</key>
	<string>https://neofitnes-vbage.firebaseio.com</string>
</dict>
</plist>
